apiVersion: v1
kind: Secret
metadata:
  name: nhncloud-credentials
  namespace: k-paas-system
type: Opaque
stringData:
  NHN_API_BASE_URL: "https://kr1-api-network-infrastructure.nhncloudservice.com"
  NHN_AUTH_URL: "https://api-identity-infrastructure.nhncloudservice.com/v2.0/tokens"
  NHN_TENANT_ID: ""
  NHN_USERNAME: ""
  NHN_PASSWORD: ""
  NHN_VIP_SUBNET_ID: ""